

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.VolleyLogo {
     float: left;
     width: 100%;
     background-color:#ffffff ;
     border-radius: 30px;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.VolleyLogo {
     width: 50px;
     height: 50px;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff; 
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;

}

.loader img {
     width: 280px;

}


/*-- navigation--*/

.navigation.navbar {
     float: right;
     margin-top: 7px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #fdd430;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     background: #010154;
     width: 100%;
     padding: 15px;
}

#headerprincipal{
     box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
     position: fixed;
     z-index: 1000;

}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}

.SeccionPrincipal {
     background: #0054A0;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding-bottom: 90px;
     padding-top: 150px;
}

.text-bg h1 {
     color: #A58F00;
     font-size: 60px;
     line-height: 80px;
     padding-bottom: 25px;
     font-weight: bold;

}

.text-bg span {
     color: #fdd430;
     font-size: 40px;
     line-height: 35px;
     font-weight: bold;
}

.text-bg p {
     color: #fff;
     font-size: 20px;
     line-height: 28px;
     padding: 40px 0;
     text-align: justify;

}

.text-bg a {
     font-size: 14px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     border-radius: 10px;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
}

.text-img figure {
     margin: 0px;
     border-radius: 60px;

}

.text-img figure img {
     width: 100%;
     border-radius: 60px;
     margin-left: 100px;


}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #0054A0;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}

@keyframes animacion-titulovolley {
    0% { 
        color: #000000; 
        transform: translateX(50px); 
    }
    25% { 
        color: #A58F00; 
        transform: translateX(0); 
    }
    50% { 
        color: #000000; 
        transform: translateX(50px); 
    }
    75% { 
        color: #A58F00; 
        transform: translateX(0); 
    }
    100% { 
        color: #000000; 
        transform: translateX(50px); 
    }
}

.titulovolley-animated {
     animation: animacion-titulovolley 5s infinite;
}




/** Reglas section **/

.Reglas {
     padding-top: 120px;
}

.web_Reglas {
     text-align: center;
}

.web_Reglas figure {
     margin: auto;
     height: 600px;
     width: 800px;

}

.web_Reglas p {
     color: #0054A0;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 50px;
}

.web_Reglas a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.web_Reglas a:hover {
     background-color: #0054A0;
     color: #fff;
}

.web_Reglas div{
     font-size: 18px;
}


@keyframes animacion-tituloreglas1 {

     0% { 
        color: #000000; 
        transform: translateX(0); 
    }
    25% { 
        color: #A58F00; 
        transform: translateX(0); 
    }
    50% { 
        color: #000000; 
        transform: translateX(-25px); 
    }
    75% { 
        color: #A58F00; 
        transform: translateX(-50px); 
    }
    100% { 
        color: #000000; 
    }

}

@keyframes animacion-tituloreglas2 {
     0% { 
        color: #000000; 
        transform: translateX(0); 
    }
    25% { 
        color: #A58F00; 
        transform: translateX(0); 
    }
    50% { 
        color: #000000; 
        transform: translateX(25px); 
    }
    75% { 
        color: #A58F00; 
        transform: translateX(50px); 
    }
    100% { 
        color: #000000; 
    }
}

.Reglas-animated {
    display: inline-block;
    animation: animacion-tituloreglas1 2s infinite;
}

.Reglas-animated2 {
    display: inline-block;
    animation: animacion-tituloreglas2 2s infinite;
}


.Text-Reglas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Text-Reglas ul {
    list-style-type: none;
    padding-left: 0;
    columns: 2; /* Dividir el texto en dos columnas */
    column-gap: 20px; /* Espacio entre las columnas */
    text-align: left;
}

.Text-Reglas li {
    margin-bottom: 15px;
}

.Text-Reglas b:hover {
    color: #0056b3; /* Cambia el color al pasar el cursor */
}





/** end Reglas section **/


/** Equipos section **/

.Equipos {
     margin-top: 50px;
     padding: 80px 0px;
     background: #0054A0;
     font-family: Poppins;
}

.Equipos .titlepage {
     text-align: center;
}

.Equipos .titlepage h2 {
     color: #fff;
     padding-bottom: 20px;
}

.Equipos .titlepage p {
     color: #fff;
     font-size: 16px;
}

.Equipos .Equipos-box i {
     background: #000;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: inline-block;
     padding-bottom: 30px;

}

.Equipos .Equipos-box i:hover {
     background: #ddd;

}

.Equipos .Equipos-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #fff;
     display: block;
     font-weight: 500;
}

.Equipos .Equipos-box {
     text-align: center;
     background-color: transparent;
     height: 500px;
     width: 300px;
     border-radius: 20px;
     border: #cecfd7 solid 2px;
     padding: 40px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
}

.Equipos .Equipos-box:hover {
     background: #A58F00;
     transition: ease-in all 0.5s;
     cursor: default;
}

.Equipos .Equipos-box p {
     font-size: 16px;
     line-height: 24px;
     color: #fff;
}

.read_more {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     border-radius: 20px;
}

.read_more:hover {
     background: #A58F00;
     color: #fff;
}

@keyframes animacion-tituloequipos {
    0% { 
        color: #000000; 
        transform: translatey(0); 
    }
    25% { 
        color: #A58F00; 
        transform: translatey(10px); 
    }
    50% { 
        color: #000000; 
        transform: translatey(0); 
    }
    75% { 
        color: #A58F00; 
        transform: translatey(10px); 
    }
    100% { 
        color: #000000; 
        transform: translatey(0); 
    }
}

.Equipos-animated {
    animation: animacion-tituloequipos 5s infinite;
}




/** end Equipos section **/


/** Jugadores section **/

.jugadores {
     margin-top: 50px;
     margin-bottom: 30px;
     padding: 50px;
     background: #ffff;
     font-family: Poppins;
}

.jugadores .titlepage {
     text-align: center;
}

.jugadores .titlepage h2 {
     margin-bottom: 70px;
}

.jugadores .titlepage p {
     color: #090808;
     font-size: 18px;
}

.jugadores .jugadores-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.jugadores .jugadores-box {
     height: 650px  ;
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px
}

.jugadores .jugadores-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}

.jugadores .jugadores-box img {
     border-radius: 20px;
     height: 310px;
}

.jugadores .jugadores-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}

.bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #A58F00;
     color: #fff;
}

@keyframes animacion-titulojugadores {
    0% { 
        color: #000000; 
        transform: translatey(0); 
    }
    25% { 
        color: #A58F00; 
        transform: translatey(10px); 
    }
    50% { 
        color: #000000; 
        transform: translatey(0); 
    }
    75% { 
        color: #A58F00; 
        transform: translatey(10px); 
    }
    100% { 
        color: #000000; 
        transform: translatey(0); 
    }
}

.Jugadores-animated {
    animation: animacion-titulojugadores 5s infinite;
}


/** end jugadores section **/




/** PiePagina **/

.PiePagina {
     font-family: Poppins;
     background: #0054A0;
}

.cont {
     text-align: center;
     margin-top: 10px;
}

.cont h3 {
     color: #fff;
     font-size: 45px;
     line-height: 30px;
     font-weight: bold;
     padding: 30px 0px 0px 0px;
}

.cont span {
     color: #fff;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 30px 0px;
     display: inline-block;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding: 0 130px;
     padding-bottom: 60px;
}

.copyright {
     padding: 20px 0px;
     background: #fff;
}

.copyright p {
     color: #1e1e1e;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #1e1e1e;
}

.copyright a:hover {
     color: #0054A0;
}


/** end footer **/

